
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Image">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>Text goes here...</p>
    </div>
</div>
